<?xml version="1.0" encoding="UTF-8"?>
<!-- <!DOCTYPE hibernate-configuration 
  SYSTEM "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd"> -->
 <!DOCTYPE hibernate-configuration PUBLIC
     "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
     "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
  
<hibernate-configuration>

	<session-factory>
		<!-- Database connection settings -->
		<property name="connection.driver_class">oracle.jdbc.driver.OracleDriver</property>
		<property name="connection.url">jdbc:oracle:thin:PBB/RAHASIAPBB@192.168.2.7:1521/SISMIOP</property>
		<property name="connection.username">PBB</property>
		<property name="dialect">org.hibernate.dialect.OracleDialect</property>
		<property name="connection.password">RAHASIAPBB</property>
		<property name="hibernate.show_sql">false</property>
		
		<!-- JDBC connection pool 
		<property name="connection.pool_size">1</property>-->
		
		<!-- Enable Hibernate's automatic session context management -->
		<property name="hibernate.current_session_context_class">thread</property>
		
		<!-- Enable the second-level cache 
		<property name="hibernate.cache.use_second_level_cache">true</property>
		<property name="cache.provider_class">org.hibernate.cache.EhCacheProvider</property>
		-->
	</session-factory>
	

</hibernate-configuration>